<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        
        .container {
            display: flex;
        }
        .itemdiv {
            
            margin-left: 20px;
            background-color: pink;
            width: 300px;
            height: 350px;
            border-radius: 35px;
            border: 2px solid palevioletred;
        }
        li {
            margin-top: 8px;
        }
        .meal{
            width:150px;
            
            margin: auto;
            text-align: center;
            border-radius: 10px;
            border: 2px solid palevioletred;
            font-size: 15px;
        }
        h3{
            text-emphasis-color: red;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
</head>
<body>
    <center>
    <h1 class="display-3">HERE IS WHAT DATA SAYS<br></h1>
    <br><br>
    <div class="alert alert-danger" role="alert">
        Note: The actual realistic values may vary from the data
    </div>
    </center>
    <div class="meal"><h3>Breakfast : </h3></div>
    
    <div class="container">
    {% for thing in bf %}
    {% for item in thing.items %}
    <div class="itemdiv">
    <ul>
        <li>Name : {{item.name}}</li>
        <li>Calories : {{item.calories}}</li>
        <li>Serving Size (g) : {{item.serving_size_g}}</li>
        <li>Total Fats: {{item.fat_saturated_g}}</li>
        <li>protiens: {{item.protein_g}}</li>
        <li>Sodium in mg: {{item.sodium_mg}}</li>
        <li>Pottasium in mg: {{item.potassium_mg}}</li>
        <li> Cholestrol in mg: {{item.cholesterol_mg}}</li>
        <li>carbohydrates total (g): {{item.carbohydrates_total_g}}</li>
        <li>Fibers (g): {{item.fiber_g}}</li>
        <li>Sugar (g): sugar (g):{{item.sugar_g}}</li>
    
    </ul>
</div>
    {% endfor %}
    {% endfor %}
</div>
    <br><br>
    <div class="meal"><h3>Lunch : </h3></div>
    <div class="container">
        {% for thing in lu %}
        {% for item in thing.items %}
        <div class="itemdiv">
        <ul>
            <li>Name : {{item.name}}</li>
            <li>Calories : {{item.calories}}</li>
            <li>Serving Size (g) : {{item.serving_size_g}}</li>
            <li>Total Fats: {{item.fat_saturated_g}}</li>
            <li>protiens: {{item.protein_g}}</li>
            <li>Sodium in mg: {{item.sodium_mg}}</li>
            <li>Pottasium in mg: {{item.potassium_mg}}</li>
            <li> Cholestrol in mg: {{item.cholesterol_mg}}</li>
            <li>carbohydrates total (g): {{item.carbohydrates_total_g}}</li>
            <li>Fibers (g): {{item.fiber_g}}</li>
            <li>Sugar (g): sugar (g):{{item.sugar_g}}</li>
        
        </ul>
    </div>
        {% endfor %}
        {% endfor %}
    </div>
    <br><br>
    <div class="meal"><h3>Dinner : </h3></div>
    <div class="container">
        {% for thing in din %}
        {% for item in thing.items %}
        <div class="itemdiv">
        <ul>
            <li>Name : {{item.name}}</li>
            <li>Calories : {{item.calories}}</li>
            <li>Serving Size (g) : {{item.serving_size_g}}</li>
            <li>Total Fats: {{item.fat_saturated_g}}</li>
            <li>protiens: {{item.protein_g}}</li>
            <li>Sodium in mg: {{item.sodium_mg}}</li>
            <li>Pottasium in mg: {{item.potassium_mg}}</li>
            <li> Cholestrol in mg: {{item.cholesterol_mg}}</li>
            <li>carbohydrates total (g): {{item.carbohydrates_total_g}}</li>
            <li>Fibers (g): {{item.fiber_g}}</li>
            <li>Sugar (g): sugar (g):{{item.sugar_g}}</li>
        
        </ul>
    </div>
        {% endfor %}
        {% endfor %}
    </div>
    <br><br>
    <div class="meal"><h3>Misc : </h3></div>
    <div class="container">
        {% for thing in mi %}
        {% for item in thing.items %}
        <div class="itemdiv">
        <ul>
            <li>Name : {{item.name}}</li>
            <li>Calories : {{item.calories}}</li>
            <li>Serving Size (g) : {{item.serving_size_g}}</li>
            <li>Total Fats: {{item.fat_saturated_g}}</li>
            <li>protiens: {{item.protein_g}}</li>
            <li>Sodium in mg: {{item.sodium_mg}}</li>
            <li>Pottasium in mg: {{item.potassium_mg}}</li>
            <li> Cholestrol in mg: {{item.cholesterol_mg}}</li>
            <li>carbohydrates total (g): {{item.carbohydrates_total_g}}</li>
            <li>Fibers (g): {{item.fiber_g}}</li>
            <li>Sugar (g): sugar (g):{{item.sugar_g}}</li>
        
        </ul>
    </div>
        {% endfor %}
        {% endfor %}
    </div>
</body>
</html>