<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
</head>
<body>
    <h1>Enter Food Item : <br></h1>
    
    <form action="{% url 'content:data' %}" method="POST">
        {% csrf_token %}
        <div id="breakfastdiv">
            <h5>Breakfast</h5>
            <input type="text" name="bfield">
        </div>
        <div id="lunchdiv">
            <h5>Lunch</h5>
            <input type="text" name="lfield">
        </div>
        <input type="text" name="item">
        <input type="submit">
    </form>
    
</body>
</html>